.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.container-fluid {
    padding-top: 1em;
    padding-bottom: 1em;
}

.btn {
    height: 100%;



}


#mapid {
    height: 25rem;
    width: 90%;
    margin: auto;
}

.btn-dark {

    margin-top: 1rem;
    margin-bottom: 1rem;

    vertical-align: middle;

    height: 2.5rem;

}

.well {
    background-color: rgba(0, 5, 0, 0.47);
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 2.5rem;
    line-height: 2.5rem;
    padding-left: 0.5rem;

}


